doctype html
html
  head
    meta(charset="utf-8")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    title About me page
    meta(
      content="" 
      name="description"
      )
    meta(
      content="width=device-width, initial-scale=1" 
      name="viewport"
      )
    link(
      href="about.css" 
      rel="stylesheet"
      )
    link(
      href="header.css" 
      rel="stylesheet"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap"
      )
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" 
      rel="stylesheet"
      )
  body
    // -------------------Navigation menu-------------------
    include header.pug
    .cover
      img(
        alt="" 
        src="about_img/cover_img.png"
        )
    div(class="main_section")
      div(class="main_text")
        h1 Моето име е Иглика Величкова и съм собственик на Форевър бизнес вече повече от 10 години!
      .gallery
        img(
          alt="a sky photo of an old city" 
          src="Iglika-photos/Iglika/1.jpg"
          )
        img(
          alt="a hot air balloon" 
          src="Iglika-photos/Iglika/01.jpg"
          )
        img(
          alt="a small boat" 
          src="Iglika-photos/Iglika/2.jpg"
          )
        img(
          alt="a forest" 
          src="Iglika-photos/Iglika/3.jpg"
          )
    // -------------------Main part-------------------
    main.main
      h2
        | Нека Ви разкажа малко повече за компанията от която съм част, а именно
        br
        | Форевър Ливинг...
      p.paragraph
        | Основана 1978г., компанията има за цел да е открие най-добрите природни източници на здраве и красота и да ги сподели със Света. Поради тази причина се насочват към производството на алое вера. Компанията работи на принципа на мулти левъл маркетинг стратегия, като през 2021г. отчита приходи от 4 милиарда долара и мрежа от 9.3 милиона дистрибутори по Света. Това говори само по себе си за качеството на предлаганите продукти. Причините за доверието на толкова много хора в компанията са много, но някои от основните са:
      ul(class="first_list")
        li Форевър Ливинг е най-големият производител и дистрибутор на алое вера в Света;
        li Оперира в повече от 160 държави;
        li Компанията не бива повлияна финансово от Covid-19 кризата.
        li
          | Работят активно с благотворителни организации, които помагат в борбата с глада и бедността по света.
        li
          | Ако станете част от Форевър ще имате възможността да се възползвате от безплатни обучения, както и спонсорски програми организирани от компанията, като:
      ul(class="second_list")
        li
          span Форевър Глобално рали
          | – дава Ви възможност да научите за нови продукти от световни лидери и ръководители, както и да отпразнувате достигането на определен етап от развитието си в компанията на локации като: Малдиви, Бали, Тайланд, Сингапур и много други.
        li
          span Chairman’s Bonus
          | – програма за бонуси на компанията, която връща процент от глобалните и приходи годишно на лидери и създатели на бизнес, за да ги възнагради за тяхната упорита работа и отдаденост.
        li
          span Forever 2 Drive
          | – Ако се квалифицирате за този бонус получавате допълнителни приходи от компанията, които може да вложите в нова кола, лодка или каквото Ви прави щастливи!
      p.paragraph1
        | Освен за подобряване здравето на Вас и хората около вас, Форевър може да допринесе с много повече! Всичко по-горе написано е повече от реалност, знам, защото се случи на мен, така де, не просто се случи…
      p.paragraph2 “Няма пряк път към успеха” - Рекс Моън
      .container
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/family/1.jpg"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/family/2.jpg"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/family/3.jpg"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/family/IMG_20220918_174823.jpg"
            )
          span
      div(class="my_story")
        h3 Как започна моето приключение с Форевър Ливинг...
        p.paragraph3
          | Когато дъщеря ми беше само на година и половина, страдаше от упорита кашлица, която продължи почти година. След многобройни опити да ѝ помогна да се излекува по възможно най-щадящия начин, поради крепката ѝ възраст, стигнах до нещо, което в миналото се е смятало за „универсалната панацея“, а именно Алое Вера. За мой късмет имах приятелка която знаех, че се занимава с разпространение на това лековито растение. Тогава обаче се появи една основна пречка... Като семейство, което живееше с ограничен бюджет, не можех да си позволя да ѝ осигуря висококачествените продукти, от които се нуждаеше.
        p.paragraph4 Така започна моето пътуване с Форевър Ливинг- уплашена, несигурна, но с надежда!
        | Въпреки всички трудности през които преминах, за да ѝ осигуря алоето от което се нуждаеше осъзнах, че всичко до тук си е заслужавало усилията. Продуктите на Форевър помогнаха не само за подобряване здравето на моята дъщеря, но и се отразиха изключително благоприятно за повишаване имунитета на всички вкъщи! Въпреки че първоначално се колебаех да се присъединя към мулти левъл маркетинг индустрията поради негативната ѝ репутация, използвайки продуктите на Форевър, като клиент в продължение на две години, осъзнах, че определено си заслужава повече хора да научат за тях.
        p
      .container
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/team/1.JPG"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/team/2.jpg"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/team/3.jpg"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/team/4.JPG"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/team/5.JPG"
            )
          span
        .box
          img(
            alt="Family photo" 
            src="Iglika-photos/team/6.JPG"
            )
          span
      div(class="my_story1")
        h4 Предизвикателствата са само прикрити възможности!
        p.paragraph5
          | Днес след повече то 10 години в компанията смело мога да кажа, че взех правилното решение. Форевър отвори нови врати за мен и моето семейство. Получих възможността да разполагам не просто с достатъчно свободно време, което да прекарвам с близките си, но и с финансова свобода. Дестинации като Бали, Малдиви, Тайланд и много други вече не бяха просто мечти, а самата реалност. Реалност, която нямаше да е възможна, ако не бях повярвала във възможностите на компанията, а те не стигат просто до екзотични дестинации и финансова независимост. Форевър е едно голямо семейство, чиято основна цел е да ни сплоти и да ни помогне да бъдем по-добри с всеки изминал ден.
          span
            br
            | Мечтите се сбъдват
          | , но не се случва просто така. Те изискват действие, решителност и Вяра, Вяра в себе си. Така че, ако и ти си готов за положителна промяна, позволи ми да те въведа в един нов Свят изпълнен с нови приключения, сега е момента…
      .button
        a(href="contacts.html")
          button(type="button") Започни своето пътешествие!
    // -------------------Footer-------------------